services:
  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - CORS_ORIGIN=http://localhost:80

  frontend:
    build: ../ViroNex Frontend
    ports:
      - "80:80"
    depends_on:
      - backend